 <% provide(:title, 'Home') %>
  	<div class="center">
  <h3>Welcome To</h3>
   <h3><font face="Comic sans ms" color= "Blue">Dynamic Tracking System For Your Bus</font></h3>
  <br><hr>
  <div class="row">
  	<div class="span4 offset4">
<h1>Sign In</h1>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <font  color="Red">
        <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
    
    <% end %>

    <p>New user? <%= link_to "Sign Up!", signup_path %></p></font>
</div>
</div>
</div>
<br>
