	<table border="3", align="center">
  <tr>
    <th>ROUTE ID</th>
    <th>ROUTE</th>
    <th>BUS</th>
    <th>CAPACITY</th>
    <th>DRIVER</th>
  </tr>
    <tr>
       <td><%= @bus.route_id %></td>
        <td><%= @route.route_name %></td>
      <td><%= @bus.id %></td>
      <td><%= @bus.bus_capacity %></td>
      <td><%= @bus.bus_driver %></td>
   </tr>
</table>